{% extends 'app/base2.html' %}
{% load static %}

{% block content %}
        <div class="orders">
            <div class="container">
                <h1 class="caption2">Мои заказы</h1>

                <div class="table table-orders">
                    <table>
                        <thead>
                            <tr>
                                <td class="table-order-num">№ заказа</td>
                                <td class="table-order-date"> Дата</td>
                                <td class="table-order-serv">услуга </td>
                                <td class="table-order-quant"> количество </td>
                                <td class="table-order-link">ссылка на заказ </td>
                                <td class="table-order-status">статус </td>
                                <td class="table-order-price"> стоимость </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>


                                <td class="table-order-num">#14432</td>
                                <td class="table-order-date">
                                    <p>05 марта 2020</p>
                                    <p>19:55:20</p>
                                </td>
                                <td class="table-order-serv">
                                    <p>Накрутка</p>
                                    <p>живых подписчиков</p>
                                </td>
                                <td class="table-order-quant">1200</td>
                                <td class="table-order-link"><a href="">https://www.vk.com/home </a></td>
                                <td class="table-order-status">Выполнено </td>
                                <td class="table-order-price">1520.00 руб</td>
                            </tr>

                            <tr>


                                <td class="table-order-num">#14432</td>
                                <td class="table-order-date">
                                    <p>05 марта 2020</p>
                                    <p>19:55:20</p>
                                </td>
                                <td class="table-order-serv">
                                    <p>Накрутка</p>
                                    <p>живых подписчиков</p>
                                </td>
                                <td class="table-order-quant">1200</td>
                                <td class="table-order-link"><a href="">https://www.vk.com/home </a></td>
                                <td class="table-order-status">Выполнено </td>
                                <td class="table-order-price">1520.00 руб</td>
                            </tr>

                            <tr>


                                <td class="table-order-num">#14432</td>
                                <td class="table-order-date">
                                    <p>05 марта 2020</p>
                                    <p>19:55:20</p>
                                </td>
                                <td class="table-order-serv">
                                    <p>Накрутка</p>
                                    <p>живых подписчиков</p>
                                </td>
                                <td class="table-order-quant">1200</td>
                                <td class="table-order-link"><a href="">https://www.vk.com/home </a></td>
                                <td class="table-order-status">Выполнено </td>
                                <td class="table-order-price">1520.00 руб</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endblock %}