{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="news-sect">

        <div class="container">
            <h1 class="caption">Новости</h1>
            <div class="news-list">
                <div class="news">
                    {% for i in blog_list %}
                    <div class="news__date">
                        <div>{{i.data}}</div>
                    </div>
                    <h2 class="news__title">{{i.action}}</h2>
                    <div class="news__content">{{i.text}}</div>
                    {% endfor %}
                </div>
                <div class="pagin-wrap">
                    <div class="pagin">
                       {% if blog_list.has_other_pages %}
                        {% if blog_list.has_previous %}
                        <a href="?page={{ blog_list.previous_page_number }}" class="pagin__cntr">previous</a>
                        {% else %}
                        <a class="disabled"><span>&laquo;</span></a>
                        {% endif %}

                            <div class="pagin__numb">
                        {% for i in blog_list.paginator.page_range %}
                        {% if blog_list.number == i %}
                                <a class="active"><span>{{ i }} <span ></span></span></a>
                        {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                        {% endfor %}
                            </div>

                        {% if  blog_list.has_next %}
                        <a href="?page={{ blog_list.next_page_number }}">next</a>
                        {% else %}
                        <li class="disabled"><span></span></li>
                        {% endif %}
                        </ul>
                        {% endif %}
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}