{% extends 'app/base.html' %}
{% load static %}
{%block content%}
        <div class="registration-body">

            <h2 class="title2">Регистрация</h2>

            <div class="forma-wrap">

                <div class="forma" style="margin-top: -15px">
                    <form METHOD="post" action="">
                                {% csrf_token %}
                        <div class="forma__wrapp">
                            <div class="input-bl">
                                <p class="input-bl__title">UserName</p>
                                <div class="input-bl__field">
                                    <input type="text">
                                    <img src="img/user.png" alt="">
                                </div>
                            </div>

                            <div class="input-bl">
                                <p class="input-bl__title">E mail</p>
                                <div class="input-bl__field">
                                    <input type="email">
                                    <img src="img/mail.png" alt="">
                                </div>
                            </div>

                            <div class="input-bl">
                                <p class="input-bl__title">Password</p>
                                <div class="input-bl__field">
                                    <input type="password">
                                    <img src="img/password.png" alt="">
                                </div>
                            </div>

                            <div class="input-bl">
                                <p class="input-bl__title">confirm Password</p>
                                <div class="input-bl__field">
                                    <input type="password">
                                    <img src="img/password.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="forma__foot">
                            <button name="register" type="submit" value="Register" class="btn6 forma__btn">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
                                <div class="enter">
                    <p class="enter__title">Войти через</p>
                    <div class="enter__list">
                        <a href="" class="enter__item"><img src="img/vk3.png" alt=""></a>

                        <a href="" class="enter__item"><img src="img/facebook2.png" alt=""></a>

                        <a href="" class="enter__item"><img src="img/yandex.png" alt=""></a>

                        <a href="" class="enter__item"><img src="img/google.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}